@page "/flt/{id:int}"
@inject IUserService UserService
@inject NavigationManager NavigationManager

<h3>Fault Page </h3>

<p>  Fault Id: @myuser.Fault.Id </p>
<p>  Status: @myuser.Fault.Status </p>
<p>  Notes: @myuser.Fault.Notes </p>
<p>  Fault Against: @myuser.Fault.FaultAgainst </p>
<p>  Divert Required: @myuser.Fault.DivertRequired </p>
<p>  Divert Phone: @myuser.Fault.DivertPhone </p>
<p>  Affecting What: @myuser.Fault.AffectingWhat </p>
<p>  Incident Details: @myuser.Fault.IncidentDetails </p>
<p>  Is Intermittent: @myuser.Fault.IsIntermittent </p>
<p>  Intermittent Details: @myuser.Fault.IntermittentDetails </p>
<p>  Diagnostics Results: @myuser.Fault.DiagnosticsResults </p>
<p>  Accepts Warning: @myuser.Fault.AcceptsWarning </p>


@code {
      [Parameter]

    public int? Id { get; set; }

        xlnuser myuser = new xlnuser { Fault = new Fault()};

          protected override async Task OnParametersSetAsync()
    {
        myuser = await UserService.GetSingleUser((int)Id);
    }

}
