@page "/user/{id:int}"
@inject IUserService UserService
@inject NavigationManager NavigationManager

<div style="padding-right: 100px" >
<button type="submit" @onclick="Logout"  > Logout</button>
</div>
  

<h3> Your user ID/Username:  @Id  </h3>
<h2 > Your Business Name: @myuser.CompanyName </h2>
<p>  Your Name: @myuser.Name </p>
<p>  Your Address: @myuser.Address </p>
<p>  Your Email: @myuser.Email </p>
<p>  Your Phone Number: @myuser.PhoneNumber </p>


<button type="submit" @onclick="NextPage"  > View Fault  </button> 

@code {

    [Parameter]
    public int? Id { get; set; }
    
    xlnuser myuser = new xlnuser { Fault = new Fault()};


    protected override async Task OnParametersSetAsync()
    {
        myuser = await UserService.GetSingleUser((int)Id);
    }

   
    private void Logout()
    {
     
      NavigationManager.NavigateTo("/login");
    }
       private void NextPage()
    {
     
      NavigationManager.NavigateTo($"flt/{Id}");
    }
}
